<link rel="stylesheet" href="/css/reset.css">
<div class="formContainer">
    <form class="form" action="/reset" method="post">
        
        <h1 class="heading">Reset Your Password!</h1>
        <div><img src="" alt=""></div>
        
        <div class="inputField">
            <input class="inputFieldi" type="text" placeholder="Enter Your Email" name="email">
        </div>

        <div class="inputField">
            <input class="inputFieldi" type="password" name="oldpassword" placeholder="Enter Your Old password">
        </div>

        <div class="inputField">
            <input class="inputFieldi" type="password" name="newpassword" placeholder="Enter Your New password">
        </div>

        <div class="btncontainer">
            <button class="btn" type="submit">Submit</button>
        </div>
        
    </form>
</div>
<!-- <%- include("./partial/messages"); %> -->