.home-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    width: 80vw;
    height: 50vh;
    background: linear-gradient(135deg, #ff7e5f, #feb47b); /* Gradient background */
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft box shadow */
    overflow: hidden; /* Hide overflowing content */
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at top right, #6394ff, #5572ff); /* Radial gradient background */
}
